<h1>About cozy Surfers</h1>
<p>Berlin has a big community of surfers but not enough surf shops and no meeting spot. We wanted to change that and create cozy Surfers. Here you can connect with other surfers in Berlin, share experiences about surf trips, sell or buy surf boards and order surf equipment.</p>
