<div class="jumbotron">
	<h1>Welcome to cozy Surfers Berlin</h1>
	<h2>We connect the community of Surfers in Berlin and provide you with Surf Equipment</h2>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<div class="container-fluid">
  <div class="row">
    <%= image_tag("fixBoard.jpg", class: "img-responsive img-circle") %>
  </div>
</div>






