<div class="jumbotron">
  <h1>Thanks for buying something from our cozy Surfers shop!</h1>
  <h2>And remember: Don't fight the waves, learn how to surf them.</h2>
  <p><%= link_to 'surf shop', products_index_path, class: "btn btn-default btn-lg", id: "button-default" %></p>
</div>